*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.header{
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 80px;
}
nav{
  width: 58%;
  max-width: 932px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.logo img{
  width: 139px;
  height: 60px;
  padding-left: 120px;
}
nav .menu{
  display: flex;
  list-style-type: none;rgba(255, 255, 255, 1);
  gap: 50px;
  align-items: center;
  grid-area: 346px;
}
nav .menu a{
  font-size: 16px;
  color:var(--#000000, rgba(0, 0, 0, 1));
  text-decoration: none;
  font-weight: 500px;
  margin: 0 auto;
}
.btn{
  color:rgba(255, 255, 255, 1);
  background-color:rgba(70, 145, 101, 1) ;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}
.banner{
  background: url(../images/assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  color: rgba(0, 25, 49, 0.8);
  text-align: center;
  padding: 120px 20px;
}
.banner .badge{
  display: inline-block;
  background: rgba(255, 255, 255, 1);
  color: rgba(70, 145, 101, 1);
  padding: 8px 12px;
  border-radius: 1000px;
  font-size: 16px;
  margin-bottom: 20px;

}
.banner h1{
  font-size: 72px;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  row-height:84px;
  align-items: center;
}
.banner h1 span{
  color: rgba(48, 184, 104, 1);
}
.banner p{
  max-width: 1360px;
  margin: 0 auto;
  color:rgba(255, 255, 255, 1);
}
.banner-contain a{
  margin: 16.5px 16px 46px;
  text-decoration: none;
}
.btn-outline{
  border: 1px 4px solid;
  padding: 12px 16px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  margin: 16.5px 46px 16px;
}


.section-heading{
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 48px;
    line-height: 58px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}


.section-heading p{
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
    color: #001931;
}

#skills .skills-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 16px;
}

.skill-box .skill-card{
    padding: 24px;
    box-shadow: 0 0px 8px 0 rgba(255, 255, 255, 1);
    max-width: 322px;
}

.skill-card img{
    background: rgba(249, 85, 85, 1);
    max-width: 60px;
    margin-bottom: 30px;
  
}


.skill-card h3{
    font-size: 24px;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.skill-card p{
    font-size: 16px;
    color:rgba(98, 115, 130, 1) ;
    line-height: 20px;

}
#skills .solution{
  display: flex;
  justify-content: right;
  gap: 60px;
  align-items:center;
}

#skills .solution h2{
  
  gap: 60px;
  align-items: center;
  font-size: 48px;
  margin-bottom: 20px;
}

#skills .solution p{
  font-size: 16px;
  margin-bottom: 20px;
}
#skills .solution ul{
  list-style: none;
}
#skills .solution li{
  margin-bottom: 16px;
  color:var(--Style, rgba(0, 25, 49, 1));
}

#skills .solution h2 p ul li{
  display: -moz-box;
  justify-content: right;
  gap: 60px;
  align-items: center;

}
.cta{
  background:rgba(247, 246, 242, 1) ;
width: 1360px;
height: 384px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 80px 40px 80px 40px;


}
.cta h3{
  color: var(--Style, rgba(0, 25, 49, 1));
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.cta p{
  color: var(--#627382, rgba(98, 115, 130, 1));
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.btn .btn-primary{
  color: rgba(255, 255, 255, 1);
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
display: inline-block;
}
footer{
    margin-top: 120px;
    background-color:var(--Style, rgba(0, 25, 49, 1));
    padding: 120px 30px;
}
footer .footer-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    gap: 120px;
}
footer .footer-container img{
  width: 139px;
height: 60px;
}
.footer-container .social{
    color: rgba(250, 250, 250, 1);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;

}
.footer-container .icons h5{

  width: 113px;
height: 28px;  
}

.footer-container .icons a{
  width: 20px;
height: 20px;
color: rgba(255, 255, 255, 1);
cursor: pointer;
}
